body {
  background-image: image-url("candies_bg.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:top center; 
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}



div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: green;
  display: table;
}

#error_explanation {
  width: 300px;
  //border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#footer, #sign_up, #newsFeed, #sideFeed, #newsFeed, #head, #change{
  background: rgba(255, 255, 255, .85);
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
         border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
               box-shadow: 0 1px 2px rgba(0,0,0,.05);
  border-color: #7DB4B5;
  border-style:solid;
  border-width: 1px;
  border-radius: 3px;
}

form{
  padding-left: 70px;
}

#post_swit, #comment_content{
  margin-left: -70px;
}
