%footer.row
  .large-12.columns
    %hr/
    .row
      .large-5.columns
        %p © Copyright 2014. mynpdua
      .large-7.columns
        %ul.inline-list.right
          %li
            %a{href: "#"} About
          %li
            %a{href: "#"} Contact Us
          %li
            %a{href: "#"} Version