%link{href: "http://fonts.googleapis.com/css?family=Tangerine", rel: "stylesheet", type: "text/css"}
.row
	.large-12.columns
		#head.panel
			-if signed_in?
				=yield :header_logged_in
			-else
				= yield	:header_index	
			.title
				%strong{style: "font-family: Tangerine, Serif; font-size: 75px"} Switter
			%br