.large-2.columns
  .panel
    %a{href: "#"}
      %img{src: "http://placehold.it/300x240&text=[img]"}/
    %h5
      %a{href: "#"} Mayen!
    .section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
      %section.section
        %h5.title
          %a{href: "#"} Link 1
      %section.section
        %h5.title
          %a{href: "#"} Link 2
      %section.section
        %h5.title
          %a{href: "#"} Link 3
      %section.section
        %h5.title
          %a{href: "#"} Link 4
      %section.section
        %h5.title
          %a{href: "#"} Link 5
      %section.section
        %h5.title
          %a{href: "#"} Link 6